# MÓDULO 25 : Bancos de Dados
## SQL - Parte 2

**Objetivo:** Execuções basicas em SQL via Python em uma base de dados de vendas

In [98]:
import sqlite3 
import pandas as pd

In [164]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';', decimal=',') # adicionei a linha decimal na leitura do csv

In [147]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [148]:
# função Query to SQL
def run_query(query):
    return pd.read_sql_query(query, conn)

## 1. Faça uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

In [165]:
query = """
select
distinct(PRODUTO) as produtos_únicos
from tb_vendas
"""
result_df = run_query(query)
print(result_df)

  produtos_únicos
0        CAMISETA
1           CALCA
2         BERMUDA
3         VESTIDO
4            MEIA

## 2. Faça uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, não esqueça de renomear sua coluna.

In [110]:
query = """
select
count(distinct(ID_CLIENTE)) as 'Total Clientes Únicos'
from tb_vendas
"""
result_df = run_query(query)
print(result_df)

   Total Clientes Únicos
0                     22

## 3. Faça uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. Porém apenas para produtos onde o valor_unid é maior ou igual a 50 reais.

In [150]:
query = """
select
distinct(PRODUTO),
VALOR_UNID as 'valor_unitario'
from tb_vendas
where VALOR_UNID >50
"""
result_df = run_query(query)
print(result_df)

   PRODUTO  valor_unitario
0    CALCA            89.9
1  BERMUDA            79.5
2  VESTIDO           102.0

## 4.[DESAFIO] Faça uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

In [151]:
query = """
select
ID_COMPRA,
VALOR_UNID*UNIDADES as valor_total
from tb_vendas
order by valor_total DESC
limit 5

"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  valor_total
0       1267        204.0
1       1253        179.8
2       1255        179.8
3       1257        179.8
4       1262        179.8

# 5) Faça uma consulta que retorne os produtos e a média do preço da unidade dos produtos, ordenando do maior para o menor.

Não ficou claro a pergunta. A consulta para produtosx (média_preço/unidade) é igualmente a consulta para produtos x preço_unitário, uma vez que não há diferença de preços unitarios para um mesmo produto. Diante desta ambiguidade, além desta apresentação(**situação 1**), foi realizado o agrupamento por ID_Cliente, retornando quanto cada cliente gastou em média por unidade de produto(**situação 2**).

In [162]:
print('\nSituação 1')
query = """
select
distinct(PRODUTO),
VALOR_UNID
from tb_vendas
order by VALOR_UNID ASC
"""
result_df = run_query(query)
print(result_df)

print('\nSituação 2')
query = """
select
ID_ClIENTE,
sum(VALOR_UNID*UNIDADES)/sum(UNIDADES) as media_unid
from tb_vendas
group by ID_CLIENTE
order by media_unid desc
"""
result_df = run_query(query)
print(result_df)

Situação 1
    PRODUTO  VALOR_UNID
0      MEIA        25.9
1  CAMISETA        34.5
2   BERMUDA        79.5
3     CALCA        89.9
4   VESTIDO       102.0

Situação 2
    ID_CLIENTE  media_unid
0         9798  102.000000
1         9787  102.000000
2         9801   89.900000
3         9794   89.900000
4         9793   89.900000
5         9788   89.900000
6         9786   89.900000
7         9481   89.900000
8         9795   79.500000
9         9791   79.500000
10        9630   79.500000
11        9081   52.966667
12        9425   51.375000
13        9800   34.500000
14        9797   34.500000
15        9796   34.500000
16        9792   34.500000
17        9790   34.500000
18        9789   34.500000
19        9560   34.500000
20        9785   25.900000
21        9799   25.900000

## 6) Faça uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

In [163]:
query = """
select
ID_ClIENTE,
count(ID_COMPRA) as N_Compras
from tb_vendas
group by ID_CLIENTE
order by  N_Compras desc
limit 3
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  N_Compras
0        9425          2
1        9081          2
2        9801          1